<events>
	<!-- 
	- The event code must be unique in the default files (for components, the codes must be unique component-wide); the event code will be: bytes0-1= origin, bytes2-3=code
	  The event code here is represented as a decimal
	- Origin: Undefined = 0, IDE = 1, Component = 2, UserProgram = 3 (for component events, this is attribute is not used)
	- Severity: Info = 0, Debug = 1, Warning = 2, Error = 3, Fatal = 4
	-->
	
	<event code="1" origin="0" severity="3"> 
		<EN message="Invalid component loaded: not a programming language!"/>
	</event>
	
	<event code="2" origin="0" severity="2"> 
		<EN message="Invalid project name! Check textbox hint for details on valid names."/>
	</event>
	
	<event code="3" origin="0" severity="2"> 
		<EN message="Invalid project folder location!"/>
	</event>

	<event code="4" origin="0" severity="2"> 
		<EN message="Invalid message box buttons or icon code. "/>
	</event>

	<event code="5" origin="0" severity="4">
		<EN message="Could not load GUI default messages! "/>
	</event>

	<event code="6" origin="0" severity="3">
		<EN message="Could not load a GUI default message translation for the current language. "/>
	</event>

	<event code="7" origin="0" severity="3">
		<EN message="Could not load project from file. The file does not exist or has an invalid format! "/>
	</event>
	
	
	<event code="8" origin="1" severity="3">
		<EN message="Could not load event! "/>
	</event>

	<event code="9" origin="0" severity="3">
		<EN message="Could not load active projects! "/>
	</event>

	<event code="10" origin="0" severity="4">
		<EN message="Could not load program items due to invalid files or file formats (including components)! "/>
	</event>

	<event code="11" origin="0" severity="3">
		<EN message="Could not load versions! "/>
	</event>
	
</events>